@import '../../styles/variables.css';

button.ui.button.octagoan{
    background: var(--peterriverBlue);
    color: var(--white);
    border-radius: 2px;
    border:2px solid var(--peterriverBlue);
    min-width:100px;
    height: 40px;

    &:hover,&:active,&:focus,&.active,&.active:hover{
         background:var(--denimBlue);
         border-color:var(--denimBlue);
         color: var(--white);
    }

    &:hover,&:active,&.active{
        box-shadow: none;
    }

    &:focus{
        box-shadow: 0px 0px 1px 3px var(--silverGray);
    }

    &:disabled{
        background : var(--lightgray);
        color : var(--gray);
        border:2px solid var(--lightgray);
        cursor:not-allowed;
    }

     &.textbutton{
        background: transparent;
        color: var(--peterriverBlue);
        border-radius: none;
        border:none;
        min-width:100px;
        height: 40px;
        &:hover,&:active,&:focus,&.active,&.active:hover,&:hover,&:active,&.active{
            background:transparent;
            border-color:none;
            color: var(--denimBlue);
        }

        &:focus{
             border-radius: 2px;
             border: 2px solid var(--silverGray);
             box-shadow: none;
        }

        &:disabled{
            background : transparent;
            color : var(--gray);
            cursor:not-allowed;
        }

      }

    &.iconbutton{
        color :var(--darkgray);
        background: transparent;
        border:none;
        height:auto;

        & .icon{
            display: block;
            width: 100%;
            text-align: center;
            margin: 0 0 5px 0;
        }

        &:not(.icon) > .icon:not(.button):not(.dropdown) {
            margin: 0 0 5px 0;
        }

        &:hover,&:active,&:focus,&.active,&.active:hover,&:hover,&:active,&.active{
            color:var(--peterriverBlue);
            background: transparent;
        }

        &:focus{
            border-radius: 2px;
            border: 2px solid var(--silverGray);
            box-shadow: none;
        }

        &:disabled{
            background : transparent;
            color : var(--gray);
            cursor:not-allowed;
        }
    }
}
