@import '../variables.css';

.text-large{
  font-size: 20px !important;
}
.large_card {
  background: #F0F0F1;
  left: 0;
  min-height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.4s;
  visibility: hidden;
  width: 100%;
  z-index: 20;
  left: -10000px;
  -webkit-box-shadow: inset -3px 0px 9px -4px rgba(0,0,0,0.31);
  -moz-box-shadow: inset -3px 0px 9px -4px rgba(0,0,0,0.31);
  box-shadow: inset -3px 0px 9px -4px rgba(0,0,0,0.31);
  &.is-fullview-open-true {
    opacity: 1;
    visibility: visible;
    left: 0;
  }
}

.textGray{
  color: var(--textGray);
}
.textBlue{
  color: var(--blue);
}
.text-small{
  font-size: var(--small);
}
.star_gray{
  color: var(--buttonBorder) !important;
}
.large_card__container {
  background: white;
  clear: fix;
  margin: 10px 20px 10px 20px;
  min-height: 94%;
  position: relative;
  & .label {
          display: block;
          font-size: 10px;
          color: rgb(166, 168, 171);
          text-transform: uppercase;
          text-align: left;
          margin-bottom: 10px;
      }
  & .close__fullview {
    cursor: pointer;
    position: absolute;
    right: 10px;

    font-size: 50px;
    color: #58687B;
  }
  & .close__fullview:hover {
    cursor: pointer;
    position: absolute;
    right: 10px;
    font-size: 50px;
    color: var(--blue);
  }

  & .fullview__quickinfo {
    @neat-span-columns 4;
    border-right: 1px solid #dedede;
    
  }
  & .fullview__history__summary {
    @neat-span-columns 8;
    padding: 10px 0px;
  }
  & .title{
    font-size: 1.25em;
  }
  & .fullview__quickinfo__heading {
    padding: 0 15px;
  }
  & .fullview__quickinfo__critical{
    color: var(--warningred);
    font-size: 30px;
    margin-right: 1em;
  }
  & .fullview__quickinfo__critical_title{
    color: var(--warningred);
    font-size: 12px;
    font-weight: bold;
    
  }
  & .fullview__quickinfo__critical_detail{
    color: var(--warningred);
    font-size: 20px;
    font-weight: bold;
    
  }
  & .fullview__quickinfo__description {
    padding: 10px 15px;
  }

  & .description__body {
    min-height: 65px;
    & h3, & h4 {
      margin: 0;
    } 
  }

  & .fullview__assets__summary {
    padding: 0px 15px;
  }

  & .state__heading-normal {
    background: color(var(--gray));
    color: white;
  }

  & .state__heading-critical {
    background: color(var(--red));
    color: white;
  }

  & .state__heading-warning {
    background: color(var(--yellow));
    color: white;
  }

  & .state__body-critical {
    color: color(var(--warningred));
  }

  & .state__body-warning {
    color: color(var(--warningyellow));
  }

  & .state__body-normal {
    color: color(var(--twgray));
  }

  & .history__summary__counts {
    clear: fix;
    margin-bottom: 15px;
  }

  & .fullview__assets__count {
    color: color(var(--gray));
    display: inline-block;
    margin-right: 20px;
    & .count__label {
      display: block;
      font-size: var(--xsmall);
      
    }
    & .count__total {
      color: var(--textPurple);
      font-size: 1.8em;
    }
  }

  & .history__operations__chart {
    clear: fix;
  }

  & .history__summary__detail {
    @neat-span-columns 4 8;
    border-right: 1px solid var(--gray);
    position: relative;
    z-index: 10;
        display: block;
    font-size: 11.2px;
    font-size: 0.7rem;
    color: rgb(166, 168, 171);
    text-transform: uppercase;
    text-align: left;
    
  } 
  & .header{
    margin-bottom: 20px !important;
  }

  & .recent__activity__row {
    margin-bottom: 10px;
    & .activity__date {
      margin-left: 20px;
    }
  }
  


  & .summary_info {
    color: color(var(--gray));
    text-align: left;
    padding: 0 5px;
    @neat-span-columns 2 8;
    & .label {
        display: block;
        font-size: 10px;
        color: rgb(166, 168, 171);
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 10px;
    }
    & .count {
      text-align: left;
      padding: 25px 0 15px 0;
      color: var(--twgray);
      font-size: 38px;
      font-weight: 300;
    }
  }

  & .summary__update {
    color: color(var(--gray));
    text-align: left;
    padding: 0 15px;
    display: inline-block;
    & .label {
      display: block;
      font-size: var(--xsmall);
      margin-bottom: 5px;
    }
    & .count__total {
      text-align: left;
      padding: 15px 0;
      color: #57B79D;
    }
  }
  & .assets__count_chart_title{
    color: var(--textPurple);
    font-size: 11px;
  }
  & .assets__count_chart_right{
    border-bottom: 1px dashed var(--textPurple);
  }
  & .assets__count {
    display: inline-block;
    color: var(--textPurple);
    margin-right: 15px;
    position: relative;
    top: -5px;
    & span {
      margin-left: 5px;
      display: inline-block;
    }
  }

  & .fullview__goto__button {
    border: 2px solid rgb(187, 189, 191);
    bottom: 20px;
    color: #586A7B;
    cursor: pointer;
    min-width: 80px;
    padding: 10px 20px;
    position: absolute;
    right: 20px;
    text-align: center;
    &.button-warning {
      border: 2px solid var(--yellow);
      color: var(--yellow);
    }
    &.button-normal {
      border: 2px solid var(--gray);
      color: var(--darkgray);
    }
  }
  & .fullview__goto__button:hover{
    border: 2px solid var(--blue);
  }
  & .fullview__goto__button:active{
    border: 2px solid var(--blue);
    background-color: var(--blue);
    color: white;
  }
  & .large_card__favorite {
    font-size: 1.3rem;
  }
}
