@import '../../styles/variables.css';

.text-large{
  font-size: 20px !important;
}
.primaryTextColor{
  color: var(--primaryTextColor);
}
.textBlue{
  color: var(--blue);
}
.text-small{
  font-size: var(--small);
}
.star_gray{
  color: var(--buttonBorder) !important;
}
.framed{
  margin: 10px 20px 10px 20px;
}
.octagon {

  &.large_card {
    background: var(--formBackgroundColor);
    left: -10000px;
    min-height: 100%;
    opacity: 0;
    position: relative;
    top: 0;
    transition: opacity 0.4s;
    width: 100%;
    visibility: hidden;
    z-index: 20;
    &.is-fullview-open-true {
      left: 0;
      opacity: 1;
      visibility: visible;
    }
  }

  & .large_card__container {
    background: white;
    clear: fix;
    min-height: 94%;
    position: relative;
    & .label {
      color: var(--primaryTextColor);
      display: block;
      font-size: 10px;
      margin-bottom: 10px;
      text-transform: uppercase;
      text-align: left;
    }
    & .close__fullview {
      color: var(--dimGray);
      cursor: pointer;
      font-size: 50px;
      position: absolute;
      right: 10px;
    }
    & .close__fullview:hover {
      cursor: pointer;
      position: absolute;
      right: 10px;
      font-size: 50px;
      color: var(--blue);
    }
    & .title{
      font-size: 17.5px;
      color: var(--primaryTextColor);
    }
    & .friendly_name{
      font-size: var(--small);
      color: var(--primaryTextColor);
      font-style: italic;
    }
    & .column{
      padding-right: 15px;
      margin-right: 15px;
      border-right: 1px solid #dedede;
    }
    & .stats{
      & .label {
        color: var(--primaryTextColor);
        margin-right: 15px;
      }
      & .value {
        color: var(--purple);
      }
    }
    & .fullview__assets__count {
      color: color(var(--gray));
      display: inline-block;
      margin-right: 20px;
      & .count__label {
        display: block;
        font-size: var(--xsmall);
      }
      & .count__total {
        color: var(--textPurple);
        font-size: 1.8em;
      }
    }
    & .history__operations__chart {
      clear: fix;
    }
    & .history__summary__detail {
      @neat-span-columns 4 8;
      border-right: 1px solid var(--gray);
      color: var(--primaryTextColor);
      display: block;
      font-size: 11.2px;
      font-size: 0.7rem;
      position: relative;
      text-transform: uppercase;
      text-align: left;
      z-index: 10;
    }
    & .header{
      margin-bottom: 20px !important;
    }
    & .recent__activity__row {
      margin-bottom: 10px;
      & .activity__date {
        margin-left: 20px;
      }
    }
    & .summary_info {
      @neat-span-columns 2 8;
      color: color(var(--gray));
      text-align: left;
      padding: 0 5px;
      & .label {
        color: var(--primaryTextColor);
        display: block;
        font-size: 10px;
        margin-bottom: 10px;
        text-transform: uppercase;
        text-align: left;
      }
      & .count {
        color: var(--primaryTextColor);
        font-size: 38px;
        font-weight: 300;
        padding: 25px 0 15px 0;
        text-align: left;
      }
    }
    & .recent_list-critical {
      color: color(var(--warningred));
    }
    & .recent_list-warning {
      color: color(var(--warningyellow));
    }
    & .recent_list-normal {
      color: color(var(--primaryTextColor));
    }
    & .fullview__goto__button {
      bottom: 20px;
      position: absolute;
      min-width: 80px;
      right: 20px;
      &.button-warning {
        border: 2px solid var(--warningyellow);
        color: var(--warningyellow);
      }
      &.button-normal {
        border: 2px solid var(--gray);
        color: var(--darkgray);
      }
    }
    & .large_card__favorite {
      font-size: 1.3rem;
    }
  }

}
