@import '../variables.css';
.octagon.nav__left {
  background: color(var(--cloudburst));
  color: var(--white);
  min-height: 100vh;
  height: 100%;
  left: 0;
  list-style: none;
  position: relative;
  top: 0px;
  width: 65px;
  & .nav_border--active {
    border-left: 4px solid var(--white);
    height: 40px;
    position: absolute;
    top: 8px;
  }
  & .nav__item {
    position: relative;
    color: var(--white);
  }
  & .icon_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-align: center;
    padding: 10px 0 10px 0;
    & .active-icon{
      opacity: 1;
    }
  }
  & .icon_nav{
    height: 40px;
    text-align: center;
    opacity: .4;
  }

  & .icon_container-active {
    opacity: 1;
    & .icon_nav:hover{
      opacity: 1;
    }
  }
  & .icon_container-inactive{
    & .icon_nav:hover{
      opacity: .7;
    }
  }
  & .nav__link {
    color: var(--white);
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
    & span {
      font-size: 2em;
    }
  }
  & .icon__nav {
    font-size: 2rem;
  }
}
