@import '../variables.css';

.octagon.microcard {
  color: var(--darkgray);
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto 1fr;
  font-size: var(--small);
  height: 90px;
  width: 300px;
  & .text-uppercase {
    text-transform: uppercase;
  }
  &.bordered {
    border: 2px solid color(var(--lightgray));
  }

  & .microcard__message {
    grid-area: message;
    text-transform: uppercase;
    & h3, & h4 {
      margin: 0;
    }
    & h3 {
      font-size: 17.5px;
      font-weight: 400;
    }
    & h4 {
      font-size: 12px;
    }
  }
  & .microcard__count {
    bottom: 5px;
    color: var(--silverGray);
    font-size: 2.65rem;
    position: absolute;
    right: 25px;
  }
}

.microcard__content {
  padding: 0 4px;
}

.microcard--variant-a {
  grid-template-areas:
    "gutter header header"
    "gutter primary secondary";

  & .microcard_header {
    align-self: center;
    color: var(--textGray);
    font-size: 1.2em;
    grid-area: header;
    padding: 4px 0 0 4px;
  }
  & .microcard__gutter {
    grid-area: gutter;
    width: 8px;
  }
  & .microcard__gutter--hidden {
    width: 0;
  }
  & .microcard__primary {
    grid-area: primary;
  }
  & .microcard__secondary {
    grid-area: secondary;
    padding: 2px;
  }
}
