@import '../variables.css';

:root {
  /* this color may change once colors are finalized. Not part of Yung's UXPin*/
  --mainPaginationColor: #657d8e;
}

.pagination {
  color: var(--mainPaginationColor);
}

.pagination__button {
  border: 1px solid var(--silverGray);
  color: var(--mainPaginationColor);
  cursor: pointer;
  display: inline-block;
  padding: 0px;
  font-size: 28px;
  height: 30px;
  background-color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pagination__button:hover{
  color: white;
  background-color: var(--primaryBlue);
}

.pagination__button:active{
  color: var(--primaryBlue);
}

.pagination__input {
  width: 2em;
}

.pagination__page-number {
  border: 1px solid var(--silverGray);
  color: var(--mainPaginationColor);
  font-size: var(--small);
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  text-transform: uppercase;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.pagination__input {
  margin-right: 5px;
}

.pagination__page-total {
  margin-left: 5px;
}

.pagination_disabled,
.pagination_disabled:hover {
  border: 1px solid var(--lightgray);
  color: var(--lightgray);
  cursor: default;
  background-color: white;
}