@import '../variables.css';

.octagon {
  &.stop-start-button {
      cursor: pointer;
  }

  &.stop-start-button:hover {
    color: var(--blue);
  }

  &.icon_pause_alt2{
      color: var(--blue);
  }
  
  &.arrow_triangle-right_alt2{
      color: var(--dimGray);
  }
}