/* Variables - a mix of Old and New */

:root {

/* Octagon Design System Colors */

  --frameGray: #f1f1f2;
  --neutralBlueGray: #657D8E;
  --headingGray: #28324E;
  --octGray500: #d4d4d5;
  --octLightBlue: #c2e0f4;
  --octBlueGray250: #8faec1;
  --octBackgroundGray: #f8f8f8;
  --octLightBlueGray: #7f93a1;

/* Start Yung's palette */ 

  /* COLORS */
  /* primary */
  --buntingBlue: #28324e;
  --cobaltBlue: #075ea6;
  --denimBlue: #1c75bd;
  --peterriverBlue: #3498db;
  --activeBlue : #c2e0f4;

  /*--black: #000000;*/
  --nightriderGray: #2d2d2d;
  --charcoalGray: #454545;
  --dimGray: #666666;
  --nobelGray: #999999;
  --silverGray: #bdc3c7;
  --gainsboroGray: #d8d8d8;
  --whisperGray: #ebebeb;
  --whitesmoke: #f5f5f5;
  --white: #ffffff;

  /* secondary */
  --supernovaYellow: #ffb72a;
  --neoncarrotYellow: #ff9e2c;
  --tangerineOrange: #ff7b00;
/* End Yung's palette */

  /* Components Colors */
  --headerColor: var(--buntingBlue);
  --primaryTextColor: var(--buntingBlue);
  --hyperlinkColor: var(--denimBlue);
  --defaultButtonColor: var(--peterriverBlue);

  --formBackgroundColor: var(--whitesmoke);

  --disabledColor: var(--gainsboroGray);

  --warningred: #c0382b;
  --warningyellow: var(--neoncarrotYellow);
  --lightBlue: #bde9ff;

  /* Basic Colors used in components*/

  --blue: var(--peterriverBlue);
  --primaryBlue: var(--blue);
  --textGray: var(--dimGray);
  --yellow: var(--supernovaYellow);

  --textPurple: var(--purple);
  --black: #272F34;
  --darkgray: #777776;
  --gray: #A6A8AB;
  --lightgray: #E5E6E7;
  --white: #fff;
  --red: #E96C64;
  
  --cloudburst: #363d43; /* was used for sidebar - Yung's theme uses slightly lighter charcoal #454545*/
  --purple: #A976B2;
  --green: #00A69C;
  --darkgreen: #169D8F;
  --successGreen: #3f9c35;
  --orange: #FFA500;
 
  --buttonBorder: #BBBDBF;
  --buttonActiveColor: white;
  --taggray: #ededed;
  
  /* other */
  --xsmall: 0.7rem;
  --small: 0.85rem;
  --semibold: 600;
  --subtitlesize: 14px;

  /* margins */
  --largeMargin: 20px;
  --standardMargin: 15px;
  --smallMargin: 10px;

  --base-border-radius: 0;
}
